<!-- <p id="notice"><%= notice %></p>
 -->
<div id="bacon">
ADD NEW BICYCLE ----->

  <button>
    <%= link_to image_tag("image123.png", height: "100", width: "100"), new_bicycle_path, remote: true %>
  </button>

  <div id="bacon1">
    just a test for alignment soon be an edit button here
    </div>

</div>
<hr>
<% if @bicycles.any? %>

  <h2 align="center">Listing Bicycles Created</h2>
  <br>
<div class="CSSTableGenerator" >
  <table>
    <tbody>
      <td>Name</td>
      <td>Model</td>
      <td>Year</td>
      <td>Make</td>
      <td>Show this bike</td>
      <td>Edit</td>
      <td>Delete</td>
      <% @bicycles.each do |bicycle| %>
      <tr>
        <td><%= bicycle.name %></td>
        <td><%= bicycle.model %></td>
        <td><%= bicycle.year %></td>
        <td><%= bicycle.make %></td>
        <td><button><%= link_to 'Show', bicycle %></button></td>
        <td><button><%= link_to 'Edit', edit_bicycle_path(bicycle), remote: true %></button></td>
        <td><button><%= link_to 'Destroy', bicycle, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
      <% end %>
    </tbody>
    </tr>
  </table>
</div>


<% end %>
