<div id="content">

<p id="notice"><%= notice %></p>

<% if (@bicycle.name == "cheese") %>
  <%= "secret password entered" %>
  <br>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @bicycle.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bicycle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @bicycle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @bicycle.make %>
</p>

<div>
  <div id="div1">

    <h2><%= @bicycle.tags.count %> tags for this bicycle |
    <%= link_to "Add a new tag", new_bicycle_tag_path(@bicycle) %></h2>

  </div>

  <%= render @bicycle.tags %>

</div>

<button> <%= link_to 'Edit', edit_bicycle_path(@bicycle) %> </button> |
<button> <%= link_to 'Back', bicycles_path %> </button> |
<button> <%= link_to 'Add a components tag to this bicycle', new_bicycle_tag_path(@bicycle) %></button>

</div>
