  <!-- <p id="notice"><%= notice %></p> -->

<% if @bicycle.name == "Canunga" %>
<h1>
  <%= "Opened portal to Hell." %>
</h1>
<% end %>


<p>
  <strong>Name:</strong>
  <%= @bicycle.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bicycle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @bicycle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @bicycle.make %>
</p>

<button><%= link_to 'Others like this', bicycles_similar_path %></button>
<button><%= link_to 'Back', root_path %></button>
<br>
<br>
<br>
<br>
<% if @bicycle.name == @bicycle.name %>
  <%= "Opened portal to Hell." %>
<% end %>
